:root {
  --font-color-primary: #212529;
  --font-color-secondary: #495057;
  --font-color-opposite: #ffffff;
  --select-border-color: #ced4da;

  --background-color-primary: #fff;
  --background-color-secondary: #f8f9fa;
  --background-color-thirdly: #f1f3f5;

  --font-family-primary: Helvetica, Arial, sans-serif;
  --font-size-primary: 16px;
  --font-size-secondary: 13px;

  --border-radius-main: 8px;
  --brand-color: #af1e65;
}

html,
body {
  font-family: var(--font-family-primary);
  min-height: 100vh;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  letter-spacing: -0.4px;
}
